.overlay {
	background: #000;
	content: ' ';
	height: 100%;
	left: 0;
	opacity: .5;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 10; /* above page content, below .lightboxGallery-item */
}

.gallery article {
	background: #fff;
	box-shadow: 0 0 20px #333;
	display: none; /* revealed via js */
	position: absolute;
	width: 75%;
	z-index: 20; /* above .has-overlay */
}