* {
	box-sizing: border-box;
}
body {
	background: url("images/bg.png") repeat fixed;
	font-family: 'Crimson Text', Arial, serif;
	font-weight: normal;
}
h1, h2, h3, h4 {
	font-family: 'Julius Sans One', sans-serif;
	font-weight: normal;
}
h1 {
	text-align: center;
}

img {
	height: auto;
	max-width: 100%;
}

.overlay {
	background: #000;
	content: ' ';
	height: 100%;
	left: 0;
	opacity: .5;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 10; /* above page content, below .lightboxGallery-item */
}

.gallery {
	display: block;
	margin: 0 auto;
	width: 90%;
}
.gallery:after {
	clear: both;
	content: " ";
	display: block;
}

.galleryItem {
	float: left;
	height: 200px;
	width: 50%;
}

.galleryItem .trigger {
	border: solid 8px #fff;
	box-shadow: 0 0 4px #999;
	cursor: pointer;
	display: block;
	height: 100%;
	overflow: hidden;
	margin: 10px;
	text-decoration: none;
	transition: all .25s ease;
}
.galleryItem .trigger:hover {
	box-shadow: 0 0 10px #444;
	transform: scale(1.05);
}

.galleryItem article {
	background: #fff;
	border: solid 12px #f4f4f4;
	box-shadow: 0 0 20px #333;
	display: none; /* revealed via js */
	left: 12.5%; /* ((100% - width) / 2) */
	padding: 1px;
	position: absolute;
	top: 0;
	width: 75%;
	z-index: 20; /* above .has-overlay */
}